// Base
// @use "base/variables";
// @use "base/mixins";

// Common
// @import "base/reset";
// @import "base/common";

// Components
@use "components/header";
// @import "components/navigation";
// @import "components/sidebar";
/**
 * Variables
 * Mixins
 * Reset
 * Common
 * Header
 * Navigation
 * Sidebar
 */

header {
  font: {
    size: 20px;
    weight: 600;
  }
}
